@using WebStore.Models
@model ProductViewModel
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
@using (Html.BeginForm("Add", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@Html.TextBoxFor(m => Model.Name)</dd>
        <dt>Description</dt>
        <dd>@Html.TextBoxFor(m => Model.Description)</dd>
        <dt>Price</dt>
        <dd>@Html.TextBoxFor(m => Model.Price)</dd>
        <dt>Category</dt>
        <dd>@Html.DropDownListFor(m=>Model.Category,ViewBag.Categories as SelectList)</dd>
        <dt>SubCategory</dt>
        <dd>@Html.TextBoxFor(m => Model.Subcategory)</dd>
        <dt>Product image</dt>
        <dd><input type="file" name="Photo" /></dd>
    </dl>
    <div class="text-center">
        <input type="submit" value="Добавить" class="btn btn-center btn-success" />
        <a href="@Url.Action("Index","Home")"><input type="button" value="На главную" class="btn btn-center btn-danger" /></a>
    </div>
}
