@using WebStore.Models
@model ProductViewModel
@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m=>Model.ProductId)
    <div class="body-content-edit-product">
        @Html.ValidationSummary()
        <div>
            <div class="product-main-info product-main-text">
                <dl class="dl-line">
                    <dt>Name</dt>
                    <dd>@Html.EditorFor(m => Model.Name)</dd>
                    <dt>Description</dt>
                    <dd>@Html.EditorFor(m => Model.Description)</dd>
                    <dt>Price</dt>
                    <dd>@Html.EditorFor(m => Model.Price)</dd>
                    <dt>Category</dt>
                    <dd>@Html.EditorFor(m => Model.Category, ViewBag.Categories as SelectList)</dd>
                    <dt>Count in store</dt>
                    <dd>@Html.EditorFor(m => Model.CountInStore)</dd>
                    <dt>SubCategory</dt>
                    <dd>@Html.EditorFor(m => Model.Subcategory)</dd>
                </dl>
            </div>
            <div class="product-main-info product-image">
                <img class="product-image" id="prodImg" src="@Url.Action("Image","Product", new { id = Model.ProductId})" />
                <input class="product-edit-form-upload" type="file" accept="image/*" name="UploadedPhoto" onchange="loadFile(event)"/>
            </div>
        </div>
    </div>
    <br clear="all" />
    <div align="center" class="product-accept-btn">
        <button type="submit"  class="btn btn-success">Изменить</button>
        <button type="button" onclick="handler()" class="btn btn-danger">Вернуться к просмотру</button>
    </div>
}


<script>
    function handler() {
        window.location.href = '@Url.Action("Get", new { id = Model.ProductId })';
    }
    var loadFile = function (event) {
        var prodImg = document.getElementById('prodImg');
        prodImg.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
