@using WebStore.Models
@Styles.Render("~/Content/MySite.css")
@model IEnumerable<ProductModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    <div align="center" class="body-content-product">
        @foreach (ProductModel product in Model)
        {
            <div class="product-item">
                <h3>@product.Name</h3>
                @product.Description
                <h4>@product.Category</h4>
                <h4>@product.Price.ToString("c")</h4>
            </div>
        }
    </div>
</body>
</html>
