@using WebStore.Models
@using WebStore.Helpers
@Styles.Render("~/Content/MySite.css")
@model ProductListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ViewBag.CurrentCategory;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    <div align="center" class="body-content-product">

        @if (Model.Products.Count() > 0)
        {
            <div class="product-get-manage">
                <button class="btn btn-success" onclick="handler()">Добавить</button>
            </div>
            foreach (ProductModel product in Model.Products)
            {
                <div class="product-item">
                    <img src="@Url.Action("Image", "Product", new { id = product.ProductId })" />
                    <h3><a href="@Url.Action("Get","Product", new { id = product.ProductId})"> @product.Name </a></h3>
                    @product.Description
                    <h4>@product.Category</h4>
                    <h4>@product.Price.ToString("c")</h4>
                </div>
            }
        }
        else
        {
            <h3>There are no products yet. Would you like to <a href="@Url.Action("Add","Product")">add</a> one?</h3>
        }
    </div>
    <br />
    <div align="center">
        <span class="btn-group">
            @Html.PageLinks(Model.PageInfo, x => Url.Action("List", new { category = Model.Products.First().Category, page = x }))
        </span>
    </div>
</body>
</html>

<script>
    function handler() {
        window.location.href = '@Url.Action("Add","Product")';
    }
</script>
